# This is a basic workflow to help you get started with Actions

name: Puppeteer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     node-version: [15.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'

      - name: install
        run: npm install --include=dev

      - name: Run
        run: node src/main.js
